*{
    font-family: fffeef;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fffeef;
    src: url(/fonts/Preahvihear-Regular.ttf);
}

.banner{

    min-width: 400px;
    height: 500px;
    background-color: #11071F;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 120px;
   
    
}

.imgbox{
    width: 385px;
    height: 435px;
    border: none;
    border-radius: 100%;
    background: linear-gradient(circle, #ffffff 5% ,  #763CAC , #320F85);
    display: flex;
    align-items: center;
    justify-content: center;
}
.backdrupimg{
    position: relative;
}

.iconboy{
    position: absolute;
    left: 44px;
}
.flash{
  position: absolute;
    top: 80px;
    left: 26%;
}

.yourname{
    position: absolute;
   top: 64px;
    left: 32%;
    color: #ffffff;
}
span{
    color: #7127BA;
}

.textbox{
    color: #ffffff;
}
.textitem{
    font-size: 50px;
}


@media (max-width:768px){

        .banner {
        display: flex;
        height: auto;
        padding: 30px 50px;
        gap: 90px;
        flex-direction: column;
        align-items: flex-start;
    }

    .backdrupimg{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imgbox{
        width: 280px;
        height: 280px;
    }

    .iconboy{
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
    }

    .flash{
        width: 120px;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .yourname{
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        font-size: 16px;
    }

    .textbox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;

    }

    .textitem{
        font-size: 32px;
    }
}