.header1{
    width: 100%;
    height: 113px;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;

}

.icon{
    color: #fff;
}

.menu{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
