<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/banner.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="banner">
      <div class="shadow-img">
        <img src="/imgs/Ellipse 3.png" alt="" width="258" height="259" />
        <div class="absul-img">
          <img src="/imgs/image 1.png" alt="" width="165" height="233" />
        </div>
      </div>

      <p class="p-absol">Hello! I Am <span>Ibrahim Memon </span></p>
      <div class="item-baner">
        <div class="hed-text">A Designer who</div>
        <div class="min-text">Judges a book <br> its <span>cover</span>...</div>
        <div class="foot-text">Because if the cover does not impress you what else can?</div>
      </div>
    </div>
  </body>
</html>
