<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/banner.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="banner">
      <div class="shadow-img">
        <img src="/imgs/Ellipse 3.png" alt="" width="258" height="259" />
        <div class="absul-img">
          <img src="/imgs/image 1.png" alt="" width="165" height="233" />
        </div>
      </div>

      </div>
    </div>
  </body>
</html>
