<div class="Engineer">
  I'm a Software Engineer.|
  <p>
    Currently, I'm a Software Engineer at
    <img
      src="/imgs/icons8-facebook-48.png"
      alt=""
      width="20"
      height="21"
    /><span> Facebook</span>
  </p>
</div>

<div class="pragraf">
  A self-taught UI/UX designer, functioning in the industry for 3+ years now. I
  make meaningful and delightful digital products that create an equilibrium
  between user needs and business goals.
</div>

<div class="radial">
  <div class="continer">
    <div class="item">
      <img src="/imgs/Group 1.png" alt="" width="122" height="115" />
      <div item-child>
        <label for="">CIB on the Mobile </label>
        <p>
          Take your client onboard seamlessly by our amazing </br>br>tool of digital
          onboard process.
        </p>
        <button type="submit">LEARN MORE</button>
      </div>
    </div>
    <div class="item">
      <img src="/imgs/lump.png" alt="" width="122" height="115" />
      <div item-child>
        <label for="">CIB on the Mobile </label>
        <p>
          Take your client onboard seamlessly by our amazing </br>br>tool of digital
          onboard process.
        </p>
        <button type="submit">LEARN MORE</button>
      </div>
    </div>
    <div class="item">
      <img src="/imgs/cofeeeee.png" alt="" width="122" height="115" />
      <div item-child>
        <label for="">CIB on the Mobile </label>
        <p>
          Take your client onboard seamlessly by our amazing </br>br>tool of digital
          onboard process.
        </p>
        <button type="submit">LEARN MORE</button>
      </div>
    </div>
    <div class="item">
      <img src="/imgs/grupeeeeeeeeee.png" alt="" width="122" height="115" />
      <div item-child>
        <label for="">CIB on the Mobile </label>
        <p>
          Take your client onboard seamlessly by our amazing </br>br>tool of digital
          onboard process.
        </p>
        <button type="submit">LEARN MORE</button>
      </div>
    </div>
    
  </div>

</div>
  

<div class="boxjs">
  <div class="tex-pragf">I'm currently looking to join a <span>cross-functional</span>  team<br>
 <div class="tex-pragf2">that values improving people's lives through accessible design</div></div>



 <div class="item-logo-js">
  <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 1.png" alt="figma" width="21" height="28">
  </div> 
  </div>
  <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 2.png" alt="react" width="32" height="28">
  </div> 
  </div>
  <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 3.png" alt="figma" width="32" height="30">
  </div> 
  </div>
  <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 4.png" alt="figma" width="32" height="22">
  </div> 
  </div>
  <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 8.png" alt="figma" width="26" height="26">
  </div> 
  </div>
  <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 6.png" alt="figma" width="26" height="26">
  </div> 
  </div>
  <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 7.png" alt="figma" width="26" height="26">
  </div> 
  </div>


  <div class="item-logo-part2">

     <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/imgll1.png" alt="figma" width="26" height="26">
  </div> 
  </div>
     <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 9.png" alt="figma" width="33" height="15">
  </div> 
  </div>
     <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 10.png" alt="figma" width="26" height="26">
  </div> 
  </div>
     <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 11.png" alt="figma" width="26" height="26">
  </div> 
  </div>
     <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 12.png" alt="figma" width="40" height="12">
  </div> 
  </div>
     <div class="back-logo">
  <div class="logo-postion-main"> <img src="/imgs/Rectangle 13.png" alt="figma" width="38" height="12">
  </div> 
  </div>


  </div>

  
</div>
<div class="absolute-line">

  <div class="logo-line"><img src="/imgs/Vector 28.png" alt="" width="118" height="300"></div>
  <div class="logo-line2"><img src="/imgs/Vector 28.png" alt="" width="66" height="310"></div>
  <div class="logo-line3"><img src="/imgs/Vector 30.png" alt="" width="22" height="314"></div>
  <div class="logo-line4"><img src="/imgs/Vector 27.png" alt="" width="34" height="292"></div>
  <div class="logo-line5"><img src="/imgs/vector266.png" alt="" width="70" height="270"></div>
  <div class="logo-line6"><img src="/imgs/Vector 25@2x.png" alt="" width="122" height="277"></div>
</div>
<div class="grup-main"><img src="/imgs/Group 1939.svg" alt="" width="950" height="600" ></div>
</div>

</div>


